@tailwind base;
@tailwind components;
@tailwind utilities;

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* .gradient {
  background: linear-gradient(to top, #0e0e0e, transparent 25%);
} */

/* .card{
  animation: move 0.5s ease-in-out both;
}

@keyframes move {
  0%{
    transform: translateX(0);
  }

  100%{
    transform: translateX(-10);
  }
} */